<div class="card">
    <div class="card-header">
        <div class="card-title">
            <h3>Invoices</h3>
        </div>
    </div>
    <table class="card-body table table-responsive table-sm">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Payment Method</th>
                <th scope="col">Currency</th>
                <th scope="col">Artist amount</th>
                <th scope="col">Agent</th>
                <th scope="col">Admin</th>
                <th scope="col">Quake Fund</th>
                <th scope="col">Subtotal</th>
                <th scope="col">Total</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1a5s6d1</td>
                <td>2019-10-05</td>
                <td>Paypal</td>
                <td>USD</td>
                <td>20.00</td>
                <td>5.00</td>
                <td>3.50</td>
                <td>1.50</td>
                <td>30.00</td>
                <td>32.03</td>
                <td><a href="" class="btn btn-primary">Edit</a><a href="" class="btn btn-danger ">Delete</a></td>
            </tr>
        </tbody>
    </table>
</div>